<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- bootstrap@5.0.2 -->
    <link href="../../public/bootstrap/bootstrap.min.css">
    <link rel='stylesheet' href='../../public/stylesheets/style.css' />
</head>

<body class="d-flex flex-column vh-100">
    <p>Welcome to <%= title %>
    </p>
    <!-- bootstrap@5.0.2 -->
    <script src="../../public/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../public/bootstrap/popper.min.js"></script>
    <script src="../../public/bootstrap/bootstrap.min.js"></script>
    <script src="/app.js"></script>

</body>

</html>